.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  background-color: #F7F9FE;
  height: 100%;

  > * {
    margin: 2em;
    height: 296px;
    width: 236px;
  }
}

